<!-- Home View -->

<div id="home"
     data-role="view"
     data-title="Home"
     data-show="app.onShowHomeView">

    <br />
    <div style="float: left; width: 20%;">
        <img src="img/Progress_Green.png" />
    </div>

    <div style="float: right; width: 80%;">
        <br />
        <br />
        <h1>Home Page</h1>
    </div>

    <div style="float: left; width: 100%;">
        <h3>This sample mobile app demonstrates the usage of hierarchical data for a parent/child relationship. It was built in the Telerik Platform&trade; and uses a Progress Data Service.
            <br />
            <br />
            It demonstrates CRUD+Submit capabilities for the child rows, accessing a Progress Data Service, along with built-in session management.. 
            </br>
			</br>
            Please open the README.txt for additional info.           
        </h3>
    </div>
</div>

<div id="modalview-displayMsg" 
    data-role="modalview"  data-init="app.onInitDisplayMessage">
    <div data-role="header">
    	<div data-role="navbar">
        	<span id="modalViewTitle">Title</span>
        </div>
    </div>

    <p align="center" id="modalViewMessage" data-bind="">Appropriate error message goes here</p>
    <p align="center">
        <button class="dlgButton" style="color:black; background-color: light gray" data-role="button" data-click="app.onCloseDisplayMessage">Ok</button>
    </p>
</div>
